@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #121212;
  --main-text-color: #ddd;
  --main-bg-element: #645CAA;
  --effect-color: #1298e0;
  --question-color: #a096f9;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

body.light {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

header {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  padding: 10px 20px;
}

header h1 {
  letter-spacing: .1em;
  text-transform: uppercase;
}

header h1 span {
  color: var(--main-bg-element);
}

header::before {
  content: '';
  width: 50%;
  height: 2px;
  background: #77777769;
  position: absolute;
  top: 100%;
}

/* Main */

main {
  margin: 20px auto;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.question {
  margin-top: 20px;
}

.question h2 {
  color: var(--question-color);
  line-height: 2;
}

.question-number {
  position: absolute;
  font-size: 1.1rem;
  font-weight: bold;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 50%;
  top: -20px;
  transform: translate(-50%, -50%);
  animation: wave 2s infinite;

}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0.2;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.question-number::before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-bg-element);
  content: '';
  position: absolute;
  opacity: 0.8;
  mix-blend-mode: color;
  animation: ripple 3s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }

  50% {
    transform: scale(.9);
    opacity: .4;
  }

  100% {
    transform: scale(0.5);
    opacity: 0.8;
  }
}

.progress-question {
  width: 100%;
}

.progress-question .progress-bar {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--main-text-color);
}

.progress-load {
  width: 20%;
  height: 100%;
  background: var(--effect-color);
  border-radius: inherit;
}

.choices-area {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  padding: 10px;
  width: 100%;

}

.choices-area input,
.choices-area label {
  cursor: pointer;
  transition: .3s;
  font-size: 1rem;
  line-height: 2;
}



label:hover {
  color: var(--main-bg-element);
}

.choose {
  display: flex;
  align-items: center;
  gap: .625rem;
  width: 100%;
}

/* Design for small screens (e.g., mobile phones) */
@media (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  .question-number {
    font-size: 1rem;

  }

  .question h2 {
    font-size: 1.1rem;
  }

  .choices-area input,
  .choices-area label {
    font-size: 1.1rem;
  }
}

/* Design for tablet screens */
@media (max-width: 1024px) {
  body {
    font-size: 1.2rem;
  }

  /* Any additional adjustments needed for tablet screens */
}

/* Design for screens larger than 1024 pixels (computers) */
@media (min-width: 1025px) {
  body {
    font-size: 1.2rem;
  }

  /* Any additional adjustments needed for computer screens */
}